ion-header {
  box-shadow: none;
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 24px;
  height: 48px;

  ion-toolbar {
    max-width: 768px;
    padding: 0 22px;

    ion-button {

      ion-icon {
        width: 24px;
        height: 24px;
      }
    }

    ion-label {
      display: flex;
      gap: 8px;
      align-items: center;
      font-weight: 700;
      font-family: bold;
      font-size: 16px;
      line-height: 24px;
      color: var(--dark-text);
    }
  }
}


.container {
  max-width: 768px;
  height: 100vh;
  padding: 16px 0;
  margin: 0 auto;

  .profile {
    display: flex;
    padding: 24px 22px;
    gap: 16px;
    flex-flow: column;

    >div {
      height: 68px;
      padding: 12px 0 12px 15px;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      background-color: #F5F5F5;

      >div {
        display: flex;
        flex-flow: column;
        gap: 4px;

        p {
          font-weight: 500;
          font-family: medium;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.2px;
          text-transform: uppercase;
          color: var(--light-profile-text);
        }

        strong {
          font-weight: 700;
          font-family: bold;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 0.2px;
          color: var(--dark-profile-text);
        }

      }

      ion-button {}
    }



  }


}