<ion-content>


  <div class="container">

    <img src="../../../assets/imgs/ART.svg" alt="">

    <form [formGroup]="registerForm">

      <ion-label>Register</ion-label>

      <div class="inputs">
        <ion-item lines="none">
          <ion-input formControlName="displayName" slot="start" placeholder="Name..."></ion-input>
        </ion-item>


        @if(registerForm.get('phone').hasError('invalidPhoneNumber')){
        <span class="inValidPhone">the entered number is not valid in {{country.countryNameLocal}}</span>}

        <ion-item lines="none">
          <!-- Custom Picker for country -->
          <div class="country ion-activatable" slot="start" (click)="pickCountry()">
            <ion-ripple-effect></ion-ripple-effect>
            <img src="https://flagcdn.com/32x24/{{country.countryCode.toLowerCase()}}.png"
              [alt]="country.countryNameEn">
            <ion-label>+{{country.countryCallingCode}}</ion-label>
            <ion-icon name="chevron-down-outline"></ion-icon>
          </div>
          <ion-input formControlName="phone" class="phone" placeholder="123 456-7890"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input slot="start" placeholder="Years of experience..."></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-select formControlName="level" interface="action-sheet" label="Choose experience Level"
            expandedIcon="chevron-up-outline" toggleIcon="chevron-down-outline" mode="ios">
            <!-- Options -->
            <ion-select-option value="senior">senior</ion-select-option>
            <ion-select-option value="junior">junior</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-input formControlName="address" slot="start" placeholder="Address..."></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input formControlName="password" slot="start" placeholder="Password" type="password"
            #passwordIP></ion-input>
          <ion-icon [name]="passwordIP.type=='text'?'eye-off-outline':'eye-outline'"
            (click)="passwordIP.type=='text'?passwordIP.type='password': passwordIP.type='text'"></ion-icon>
        </ion-item>

      </div>
      <div class="links">
        <ion-button (click)="register()">Sign In</ion-button>
        <p>Didn’t have any account? <strong [routerLink]="'/login'">Sign Up here</strong></p>
      </div>

    </form>

  </div>


</ion-content>