/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";


:root {}


// rename fonts anc remove un used ones
@font-face {
  font-family: 'regular';
  src: url('./assets/fonts/DM_Sans/DMSans-Regular.ttf');
}

@font-face {
  font-family: 'light';
  src: url('./assets/fonts/DM_Sans/DMSans-Light.ttf');
}

@font-face {
  font-family: 'semiBold';
  src: url('./assets/fonts/DM_Sans/DMSans-SemiBold.ttf');
}

@font-face {
  font-family: 'medium';
  src: url('./assets/fonts/DM_Sans/DMSans-Medium.ttf');
}

@font-face {
  font-family: 'bold';
  src: url('./assets/fonts/DM_Sans/DMSans-Bold.ttf');
}

* {
  font-family: "regular";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none !important;
}

// ==================================================================
.ready-QR-code {
  visibility: hidden;
  background: transparent;
  --background: transparent;
  --ion-background-color: transparent;
}

.barcode-scanner-modal {
  visibility: visible;
  z-index: 20202020;
}

// ==================================================================

ion-button {
  --padding-top: 0px !important;
  --padding-end: 0px !important;
  --padding-bottom: 0px !important;
  --padding-start: 0px !important;
}


.time-modal {
  --height: 350px;
  --width: 375px;
  --border-radius: 1em;
}


.fade-in {
  animation: fadeIn alternate 0.3s ease-in-out;
}

ion-popover.task-options {
  --width: 82px;
  --height: fit-content;
  --border-radius: 12px;
  --box-shadow: 1px 4px 16px 0px #00000030;

  &::part(content) {
    border: none;
  }
}

ion-modal.country-modal {
  --width: 375px;
  --border-radius: 1em;
}


ion-alert {

  .alert-button-group {
    button {
      border-width: 1px 1px 0 0 !important;
      border-color: var(--light-primary) !important;
    }

  }
}






ion-header {
  padding-top: var(--ion-safe-area-top, env(safe-area-inset-top, 0px));

  ion-toolbar {

    &::part(background) {
      border-color: transparent !important;
    }

    ion-label {
      padding-left: 8px;
    }

    ion-button {
      min-width: 24px;
      min-height: 24px;
      overflow: hidden;
      --border-radius: 50%;
    }
  }
}




ion-skeleton-text {
  --border-radius: 9999px;
  --background-rgb: 20, 26, 150;
}







body.dark {

  &.scanning-mode {
    --background: transparent !important;
    --ion-background-color: transparent !important;
    background: transparent !important;
  }


  ion-alert {
    --background: var(--ion-background-color) !important;
    --ion-text-color: var(--dark-text);
  }

  ion-action-sheet {
    --background: var(--ion-background-color) !important;
    --button-background-selected: var(--ion-background-color) !important;
    --ion-text-color: var(--dark-text);
  }


}





























@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}