<ion-content>

  <div class="container">
    <img src="../../../assets/imgs/ART.svg" alt="">

    <div class="upper-side">
      <div class="txts">
        <ion-label>Task Management & To-Do List</ion-label>
        <!-- <pre> -->
        <p>
          This productive tool is designed to help <br>
          you better manage your task <br>
          project-wise conveniently!
        </p>
        <!-- </pre> -->
      </div>
    </div>


    <ion-button (click)="toLogin()">
      <ion-label>Let’s Start</ion-label>
      <ion-icon src="../../../assets/imgs/Arrow -rightt.svg"></ion-icon>
    </ion-button>

  </div>



</ion-content>