<ion-content>

  <div class="container">

    <div class="upper-side">
      <img src="../../../assets/imgs/ART.svg" alt="">
      <div class="txts">
        <ion-label>Task Management & To-Do List</ion-label>
        <p>This productive tool is designed to help
          you better manage your task
          project-wise conveniently!</p>
      </div>
    </div>


    <ion-button (click)="toLogin()">
      <ion-label>Let’s Start</ion-label>
      <ion-icon src="../../../assets/imgs/Arrow -rightt.svg"></ion-icon>
    </ion-button>

  </div>



</ion-content>